<% include ./partials/header.ejs %>

  <div class="w-full h-screen bg-center bg-cover bg-[url(https://images.unsplash.com/photo-1510936111840-65e151ad71bb?q=80&w=1790&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-zinc-100 flex items-center justify-center">
    <div class="w-[32vw] h-[60vh] bg-white px-20 py-10 rounded-[30px]">
      <h1 class="text-4xl text-center capitalize tracking-tight font-semibold text-zinc-700 leading-none">Create New Account</h1>

      <form action="/register" method="post">
        <input class="border-2 rounded-md block mt-4 w-full px-3 py-2" type="text" name="username" placeholder="username">
        <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="email" name="email" placeholder="email">
        <input class="border-2 rounded-md block mt-2 w-full px-3 py-2" type="number" name="contact" placeholder="contact">
        <input class="border-2  rounded-md block mt-2 w-full px-3 py-2" type="password" name="password" placeholder="password">

        <input class="border-2 block mt-3 w-full px-3 py-2 bg-red-600 text-white rounded-full " type="submit" value="Create New Account">
        <p class="text-sm font-semibold mt-2 text-zinc-500">By continuing, you agree to ImageHub's Terms of service;</p>
      </form>
      <a class="inline-block text-sm font-semibold text-center w-full mt-2"  href="/">Already Existing User? </a>
    </div>
  </div>

<% include ./partials/footer.ejs %>